<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/login" method="POST">
    <label for="email">
      Login
      <input type="text" name="email" id="email">
    </label>
    <label for="password">
      Password
      <input type="text" name="password" id="password">
    </label>
    <button type="submit">Login</button>
  </form>
  </body>
</html>
